# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# Excel Files
*.frx
*.xlsx
*.xls
*.xlsm

# Example Sql
tsql/tqr/temp.sql

# Distribution / packaging
env/
node_modules/
dist/

# Editor / Os
.idea/
.vscode

# App
python/env/
tsql/tqr/temp.sql
